$cfg: (
    'gutter-width': 10px
);

#contact {

    // reduce padding in contact method list
    .col-lg-3 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .row > .col-content:last-child {
        background-color: map-get($grid-section, 'illustration-bg');
        color: map-get($grid-section, 'illustration-color');
        @include lines-background('../img/graphics/lines-white.svg');

        a {
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    form {

        margin-top: map-get($grid-section, 'paragraph-margin');

        .row {
            margin-top: 0;
        }

        .row.gutter {
            margin-left: map-get($cfg, 'gutter-width') * -1;
            margin-right: map-get($cfg, 'gutter-width') * -1;
            .col-lg-6 {
                padding-left: map-get($cfg, 'gutter-width');
                padding-right: map-get($cfg, 'gutter-width');
            }
        }

        .form-group.input-material {
            margin-bottom: 0;
            font-style: italic;
        }
    }

}