$cfg: (
    'row-margin': 100px
);

#credits {
    padding-top: map-get($cfg, 'row-margin');
    padding-bottom: map-get($cfg, 'row-margin') * 0.75;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 700;

    .github-icon {
        display: block;
        margin: 0 auto;
        height: 40px;
        margin-bottom: 15px;
    }

    span img {
        height: 1.4em;
        margin-left: 2px;
    }

    .subtitle {
        display: block;
        font-weight: 600;
        font-size: 0.8em;
        margin-top: 5px;
    }
}