$grid-section: (
    'content-bg': $white,
    'illustration-bg': $primary-strong, // no longer used
    'illustration-color': $white,
    'section-margin': 200px,
    'column-border': map-get($columnLines, 'border'),
    'paragraph-margin': 70px,
    'content-margin': 85px,
    'content-margin-mobile': 10%
);

@mixin remove-double-border() {
    .col-content {

        // removing adjacent border
        &:nth-child(even) {
        
            @include media-breakpoint-up(lg) {
                border-left: none;
            }
            @include media-breakpoint-down(md) {
                border-top: none;
            }
        
        }

    }
}

.grid-section {

    padding-top: map-get($grid-section, 'section-margin');
    padding-bottom: map-get($grid-section, 'section-margin');

    .row {
        justify-content: stretch;
    }

    .col-content {
        border: map-get($grid-section, 'column-border');
        background-color: map-get($grid-section, 'content-bg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 175px 60px;

        .content {

            margin-left: map-get($grid-section, 'content-margin');
            margin-right: map-get($grid-section, 'content-margin');

            @include media-breakpoint-down(lg) {
                margin-left: map-get($grid-section, 'content-margin-mobile');
                margin-right: map-get($grid-section, 'content-margin-mobile');
            }
            @include media-breakpoint-down(sm) {
                margin-left: 0;
                margin-right: 0;
            }

            hyphens: manual;

            p, div.row {
                margin-top: map-get($grid-section, 'paragraph-margin');
                font-weight: 500;
                font-size: 0.85em;
                line-height: 2.5em;
            }
        }
    }

    @include remove-double-border();

}