// hamburger
@import 'vendor/hamburgers/hamburgers';

@include media-breakpoint-down(xs) {

    .navbar.hamburger-menu {
        padding: 22px 0;
        flex-direction: column;
        align-items: flex-start;
        
        @include gradient(rgba($white, 1), rgba($white, 0), vertical);
        margin-bottom: 0px;
        padding-bottom: 100px;
        border: none;

        .logo {
            position: relative;
            padding-left: 20px;
            padding-top: 5px;
            z-index: 9;
        }

        button.hamburger {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            padding-top: 28px;
            padding-right: 18px;
            z-index: 2;
        }

        ul.menu {
            display: block;
            position: absolute;
            top: 0px;
            z-index: 1;
            margin: 0 0;
            overflow: hidden;
            opacity: 0;

            text-align: center;
            padding-top: 150px;
            padding-bottom: 100px;
            min-height: 100vh;

            @include gradient(rgba($white, 1) 50%, rgba($white, 0), vertical);
            border-bottom: 1px solid $gray-400;

            transform: translateY(-100%);
            transform-origin: center top;
            transition: transform 0.3s ease, opacity 0s 1s ease;

            li {
                display: block;
                border-bottom: 1px solid $gray-200;
                &:first-child {
                    border-top: 1px solid $gray-200;
                }
                &:last-child a {
                    margin-right: 0px;
                }
            }
        }

        ul.menu.is-active {
            opacity: 1;
            transform: translateY(0%);
            transition: transform 0.3s ease, opacity 1s 0s ease;
        }

    }

}