@mixin display-text($uppercase: true) {
    font-weight: 600;
    @if($uppercase) {
        text-transform: uppercase;
    }
    letter-spacing: 2px;
}
.display-text {
    @include display-text();
}

@mixin subtitle() {
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.5px;
    line-height: 2em;
}
.subtitle {
    @include subtitle();
}

@mixin title-block() {
    display: block;
    text-align: center;
}
.title-block {
    @include title-block();
}

@mixin h2() {
    font-weight: 700;
    font-size: 2.4rem;
}
h2 {
    @include h2();
}

@mixin hr() {
    margin: 40px auto;
}
hr {
    @include hr();
}

@mixin p() {
    line-height: 2em;
    font-size: 0.9em;
}
p {
    @include p();
}